<form action="/add" method="POST">
   <p>Name: </p> <input type="text" name="name"><br>
   <p>Surname: </p> <input type="text" name="surname"><br>
   <p>Age: </p> <input type="text" name="age"><br>
   <p>Student id: </p> <input type="text" name="studid"><br>
   <p>Group: </p><input type="text" name="group"><br><br>
   <input type="submit">
</form>