<div class="jumbotron">
  <h1 class="display-4">Add technology</h1>
 <form  action="/technologies" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1"  placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Hours</label>
    <input type="number" name="hours" class="form-control" id="exampleInputPassword1" placeholder="Enter hours">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Teacher Name</label>
    <input type="text" name="teacherName" class="form-control" id="exampleInputEmail1" placeholder="Enter teacher name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>