{{#if technologies}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Hours</th>
      <th scope="col">Teacher name</th>
    </tr>
  </thead>
  <tbody>
      {{#each technologies }}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.hours}}</td>
     <td>{{this.teacherName}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#else}}
<p></p>
{{/else}}
{{/if}}